<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ling.mappers.AttachmentMapper">

    <!-- 通用字段 -->
    <sql id="commonField">
        file_id
        , article_id
        , user_id
        , file_size
        , filename
        , download_count
        , filepath
        , filetype
        , download_points
    </sql>

    <!-- 查询条件 -->
    <sql id="queryCondition">
        <where>
            <if test="articleId != null">
                article_id = #{articleId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="filename != null and filename != ''">
                and filename like concat('%', #{filename}, '%')
            </if>
            <if test="filetype != null">
                and filetype = #{filetype}
            </if>
        </where>
    </sql>

    <!-- 条件分页查询，返回po -->
    <select id="selectByCondition" resultType="com.ling.entity.po.Attachment">
        select <include refid="commonField"/> from attachment
        <include refid="queryCondition"/>
        <if test="orderBy != null and orderBy != ''">
            order by ${orderBy}
        </if>
        <if test="index != null and size != null">
            limit #{index}, #{size}
        </if>
    </select>

    <!-- 条件查询总数量 -->
    <select id="selectCountByCondition" resultType="java.lang.Long">
        select count(0) total from attachment <include refid="queryCondition"/>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.ling.entity.po.Attachment">
        select <include refid="commonField"/> from attachment
    </select>

    <!-- 查询总数量 -->
    <select id="selectCount" resultType="java.lang.Long">
        select count(0) total from attachment
    </select>

    <!-- 通过id查询 -->
    <select id="selectById" resultType="com.ling.entity.po.Attachment">
        select <include refid="commonField"/> from attachment where file_id = #{fileId}
    </select>

    <!-- 通过文章id和作者查询 -->
    <select id="selectByArticleIdAndUserId" resultType="com.ling.entity.po.Attachment">
        select <include refid="commonField"/> from attachment
                where article_id = #{articleId} and user_id = #{userId}
    </select>

    <!-- 插入 -->
    <insert id="insert">
        insert into attachment (<include refid="commonField"/>) values (
        #{fileId},
        #{articleId},
        #{userId},
        #{fileSize},
        #{filename},
        #{downloadCount},
        #{filepath},
        #{filetype},
        #{downloadPoints})
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsert">
        insert into attachment (<include refid="commonField"/>) values
        <foreach collection="list" item="item" separator=",">
            (#{item.fileId},
            #{item.articleId},
            #{item.userId},
            #{item.fileSize},
            #{item.filename},
            #{item.downloadCount},
            #{item.filepath},
            #{item.filetype},
            #{item.downloadPoints})
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="update">
        update attachment
        <set>
            <if test="articleId != null">article_id = #{articleId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="filename != null and filename != ''">filename = #{filename},</if>
            <if test="downloadCount != null">download_count = #{downloadCount},</if>
            <if test="filepath != null and filepath != ''">filepath = #{filepath},</if>
            <if test="filetype != null">filetype = #{filetype},</if>
            <if test="downloadPoints != null">download_points = #{downloadPoints},</if>
        </set>
        where file_id = #{fileId}
    </update>

    <!-- 批量更新 -->
    <update id="batchUpdate">
        <foreach collection="list" item="item" separator=";">
            update attachment
            <set>
                <if test="item.articleId != null">article_id = #{item.articleId},</if>
                <if test="item.userId != null">user_id = #{item.userId},</if>
                <if test="item.fileSize != null">file_size = #{item.fileSize},</if>
                <if test="item.filename != null and item.filename != ''">filename = #{item.filename},</if>
                <if test="item.downloadCount != null">download_count = #{item.downloadCount},</if>
                <if test="item.filepath != null and item.filepath != ''">filepath = #{item.filepath},</if>
                <if test="item.filetype != null">filetype = #{item.filetype},</if>
                <if test="item.downloadPoints != null">download_points = #{item.downloadPoints},</if>
            </set>
            where file_id = #{item.fileId}
        </foreach>
    </update>

    <!-- 删除/批量删除 -->
    <delete id="delete">
        delete from attachment where file_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>