<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ling.mappers.UserInfoMapper">
    <!-- 通用字段 -->
    <sql id="commonField">
        user_id
        , nick_name
        , email
        , password
        , gander
        , description
        , join_time
        , last_login_time
        , last_login_ip
        , last_login_ip_address
        , total_integral
        , current_integral
        , status
        , create_time
        , update_time
        , version
    </sql>
    <!-- 通用查询sql -->
    <sql id="commonSelect">
        select
        <include refid="commonField"/>
    </sql>

    <!-- 条件分页查询 -->
    <select id="select" resultType="com.ling.entity.po.UserInfo">
        <include refid="commonSelect"/>
        from user_info
        <where>
            <if test="nickName != null and nickName != ''">
                nick_name like concat('%', #{nickName}, '%')
            </if>
            <if test="email != null and email != ''">
                and email like concat('%', #{email}, '%')
            </if>
            <if test="gander != null">
                and gander = #{gander}
            </if>
            <if test="startDate != null and endDate != null">
                and join_time between #{startDate} and #{endDate}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <!-- 通过id查询 -->
    <select id="selectById" resultType="com.ling.entity.po.UserInfo">
        <include refid="commonSelect"/>
        from user_info
        <where>
            <if test="userId != null and userId != ''">
                user_id = #{userId}
            </if>
        </where>
    </select>

    <!-- 根据email查询 -->
    <select id="selectByEmail" resultType="com.ling.entity.po.UserInfo">
        <include refid="commonSelect"/>
        from user_info
        <where>
            <if test="email != null and email != ''">
                email = #{email}
            </if>
        </where>
    </select>

    <!-- 根据nickname查询 -->
    <select id="selectByNickname" resultType="com.ling.entity.po.UserInfo">
        <include refid="commonSelect"/>
        from user_info
        <where>
            <if test="nickname != null and nickname != ''">
                nick_name = #{nickname}
            </if>
        </where>
    </select>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.ling.entity.po.UserInfo">
        insert into user_info(<include refid="commonField"/>) values(
        #{userId},
        #{nickName},
        #{email},
        #{password},
        #{gander},
        #{description},
        #{joinTime},
        #{lastLoginTime},
        #{lastLoginIp},
        #{lastLoginIpAddress},
        #{totalIntegral},
        #{currentIntegral},
        #{status},
        #{createTime},
        #{updateTime},
        #{version})
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsert">
        insert into user_info(<include refid="commonField"/>) values
        <foreach collection="userInfos" item="item" separator=",">
            (#{item.userId},
            #{item.nickName},
            #{item.email},
            #{item.password},
            #{item.gander},
            #{item.description},
            #{item.joinTime},
            #{item.lastLoginTime},
            #{item.lastLoginIp},
            #{item.lastLoginIpAddress},
            #{item.totalIntegral},
            #{item.currentIntegral},
            #{item.status},
            #{item.createTime},
            #{item.updateTime},
            #{item.version})
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="update">
        update user_info
        <set>
            <if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="gander != null">gander = #{gander},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="joinTime != null">join_time = #{joinTime},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="lastLoginIp != null and lastLoginIp != ''">last_login_ip = #{lastLoginIp},</if>
            <if test="lastLoginIpAddress != null and lastLoginIpAddress != ''">last_login_ip_address =
                #{lastLoginIpAddress},
            </if>
            <if test="totalIntegral != null">total_integral = #{totalIntegral},</if>
            <if test="currentIntegral != null">current_integral = #{currentIntegral},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="version != null">version = #{version},</if>
        </set>
        <where>
            <if test="userId != null and userId != ''">
                user_id = #{userId}
            </if>
        </where>
    </update>

    <!-- 批量更新，需要设置jdbc的url参数allowMultiQueries=true -->
    <update id="batchUpdate">
        <foreach collection="userInfos" item="item" separator=";">
            update user_info
            <set>
                <if test="item.nickName != null and item.nickName != ''">
                    nick_name = #{item.nickName},
                </if>
                <if test="item.email != null and item.email != ''">
                    email = #{item.email},
                </if>
                <if test="item.password != null and item.password != ''">
                    password = #{item.password},
                </if>
                <if test="item.gander != null">
                    gander = #{item.gander},
                </if>
                <if test="item.description != null and item.description != ''">
                    description = #{item.description},
                </if>
                <if test="item.joinTime != null">
                    join_time = #{item.joinTime},
                </if>
                <if test="item.lastLoginTime != null">
                    last_login_time = #{item.lastLoginTime},
                </if>
                <if test="item.lastLoginIp != null and item.lastLoginIp != ''">
                    last_login_ip = #{item.lastLoginIp},
                </if>
                <if test="item.lastLoginIpAddress != null and item.lastLoginIpAddress != ''">
                    last_login_ip_address = #{item.lastLoginIpAddress},
                </if>
                <if test="item.totalIntegral != null">
                    total_integral = #{item.totalIntegral},
                </if>
                <if test="item.currentIntegral != null">
                    current_integral = #{item.currentIntegral},
                </if>
                <if test="item.status != null">
                    status = #{item.status},
                </if>
                <if test="item.createTime != null">
                    create_time = #{item.createTime},
                </if>
                <if test="item.updateTime != null">
                    update_time = #{item.updateTime},
                </if>
                <if test="version != null">version = #{item.version},</if>
            </set>
            <where>
                <if test="item.userId != null and item.userId != ''">
                    user_id = #{item.userId}
                </if>
            </where>
        </foreach>
    </update>

    <!-- 更新用户积分 -->
    <update id="updatePoints">
        update user_info
        <set>
            <if test="currentPoints != null">
                current_integral = #{currentPoints},
            </if>
            <if test="points != null and points > 0">
                total_integral = total_integral + #{points},
            </if>
            <if test="version != null">
                version = version + 1,      <!-- 乐观锁 -->
            </if>
        </set>
        <where>
            <if test="userId != null and userId != ''">user_id = #{userId}</if>
            <if test="version != null">and version = #{version}</if>
        </where>
    </update>

    <!-- 删除/批量删除 -->
    <delete id="delete">
        delete from user_info where user_id in
        <foreach collection="ids" item="userId" separator="," open="(" close=")">
            <if test="userId != null and userId != ''">
                #{userId}
            </if>
        </foreach>
    </delete>
</mapper>